.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltiptext {
    visibility: visible;
    width: 140px;
    background-color: rgba(236, 13, 13, 0.925);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -70px; /* Use half of the width to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  h2.tooltip > div > div{
    text-align: center;
    font-style: oblique;

  }
  p.tooltip > div{
    text-align: center;
    font-style: normal;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  